{# templates/programmationslist.html.twig #}

{% extends "baselayout.html.twig" %}

{% block title %}{{ parent() }} Nos loisirs sportifs {% endblock %}

{% block body %}
<section class="dark_section container-list" >
    <div class=" card">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <img src="http://www.cdsmr76.fnsmr.org/wp-content/uploads/2013/09/Gymnastique-d-entretien.jpg"  />
            </div>
            <div class="col-lg-8 col-md-8" style="padding-left: 30px;">
                <h1> Gymnastique d'entretien</h1>
                <p>
                    Le Lundi de 18h45 a 19h45 <br />
                    Au Dojo du Complexe sportif du Lac <br  />
                    Stephanie <br  />
                    Numero de telephone
                </p>
            </div>
        </div>
    </div>
    <div class=" card">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <img style="height:220px;width:300px" src="http://localhost/agvoyapp/templates/img/patinage.jpg"  />
            </div>
            <div class="col-lg-8 col-md-8" style="padding-left: 30px;">
                <h1> Patinage</h1>
                <p>
                    Le Lundi de 18h45 a 19h45 <br />
                    Au Dojo du Complexe sportif du Lac <br  />
                    Stephanie <br  />
                    Numero de telephone
                </p>
            </div>
        </div>
    </div>
    <div class=" card">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <img style="height:220px;width:300px" src="http://www.karatelaval.com/wp-content/uploads/2015/05/pratique.jpg"  />
            </div>
            <div class="col-lg-8 col-md-8" style="padding-left: 30px;">
                <h1> Arts martiaux</h1>
                <p>
                    Le Lundi de 18h45 a 19h45 <br />
                    Au Dojo du Complexe sportif du Lac <br  />
                    Stephanie <br  />
                    Numero de telephone
                </p>
            </div>
        </div>
    </div>

    <div class=" card">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <img style="height:220px;width:300px" src="http://www.chamox.com/image/initiation-escalade-famille_g.jpg"  />
            </div>
            <div class="col-lg-8 col-md-8" style="padding-left: 30px;">
                <h1> Escalade en famille</h1>
                <p>
                    Le Samedi de 14h30 a 15h30 et de 15h30 a 16h30 <br />
                    Au Gymnase Colette Besson <br  />
                    Jacqueline Hergott <br  />
                    Numero de telephone
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %} {# body #}
